{% extends 'base.html.twig' %}

{% block body %}
<div class="row">    
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Master Unit Kerja<small> Data Master</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ form_start(formFilter, {'attr': {'class': 'form-inline bFilter form-filter'}}) }}
                        {{ form_row(formFilter.kode) }}
                        {{ form_row(formFilter.nama) }}
                        <div class="form-group" style="margin-top: 5px">
                            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-filter"></i> Filter</button>
                            <a class="btn btn-default" href="{{ path('unitmaster_index') }}?_reset"><i class="glyphicon glyphicon-refresh"></i> Reset</a>
                        </div>
                {{ form_end(formFilter) }}
                <table class="table table-bordered table-striped responsive-utilities jambo_table dataTable no-footer" id="table-unitMaster">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th style="min-width: 60px">Kode</th>
                            <th>Nama</th>
                            <th style="min-width: 100px">Sekda</th>
                            <th style="min-width: 100px">Dinas</th>
                            <th style="min-width: 100px">Badan</th>
                            <th style="min-width: 100px">RS</th>
                            <th style="min-width: 100px">Bagian</th>
                            <th style="min-width: 100px">Kecamatan</th>
                            <th style="min-width: 100px">Kelurahan</th>
                            <th style="min-width: 130px">Unit Induk</th>
                            <th>Diperbarui Tanggal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var dt = $('#table-unitMaster').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('unitmaster_ajax') }}",
                "searching": false,
                "stateSave": true,
                "sPaginationType": "full_numbers",
                "order": [],
                "columns": [
                    { "orderable": false },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true, "sClass": "text-center" },
                    { "orderable": true, "sClass": "text-center" },
                    { "orderable": true, "sClass": "text-center" },
                    { "orderable": true, "sClass": "text-center" },
                    { "orderable": true, "sClass": "text-center" },
                    { "orderable": true, "sClass": "text-center" },
                    { "orderable": true, "sClass": "text-center" },
                    { "orderable": false, "sClass": "text-center" },
                    { "orderable": true, "sClass": "text-center" },
                    { "orderable": false, "sClass": "text-center detil" }
                ]
            });
        })
    </script>
{% endblock %}