{% if app.environment == 'prod' %}
    <!-- prod:backend.css -->
<link rel="stylesheet" type="text/css" href="{{ asset("/compiled/css/backend.css/backend_584adf3f080e383675b4eb1c8434e79e.css") }}" media="all">
<!-- endbuild -->
{% else %}
    <!-- dev:backend.css -->
<link rel="stylesheet" type="text/css" href="{{ asset("/tmp/css/backend.css/bootstrap.min.css") }}" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset("/tmp/css/backend.css/font-awesome.min.css") }}" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset("/tmp/css/backend.css/animate.min.css") }}" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset("/tmp/css/backend.css/green.css") }}" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset("/tmp/css/backend.css/shared.css") }}" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset("/tmp/css/backend.css/jquery.dataTables.min.css") }}" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset("/tmp/css/backend.css/main.css") }}" media="all">
<!-- endbuild -->
{% endif %}