{% if app.environment == 'prod' %}
    <!-- prod:backend.js -->
<script src="{{ asset("/compiled/js/backend.js/backend_41b3b206cb839c7f19af4b18f4f6e745.js") }}"></script>
<!-- endbuild -->
{% else %}
    <!-- dev:backend.js -->
<script src="{{ asset("/tmp/js/backend.js/jquery.min.js") }}"></script>
<script src="{{ asset("/tmp/js/backend.js/jquery.nicescroll.min.js") }}"></script>
<script src="{{ asset("/tmp/js/backend.js/bootstrap.min.js") }}"></script>
<script src="{{ asset("/tmp/js/backend.js/icheck.min.js") }}"></script>
<script src="{{ asset("/tmp/js/backend.js/jquery.dataTables.min.js") }}"></script>
<script src="{{ asset("/tmp/js/backend.js/backend.js") }}"></script>
<script src="{{ asset("/tmp/js/backend.js/scripts.js") }}"></script>
<!-- endbuild -->
{% endif %}