{% if app.environment == 'prod' %}
    <!-- prod:frontend.js -->
<script src="{{ asset("/compiled/js/frontend.js/frontend_7d33d93210b852645d07748a6c853e06.js") }}"></script>
<!-- endbuild -->
{% else %}
    <!-- dev:frontend.js -->
<script src="{{ asset("/tmp/js/frontend.js/jquery.min.js") }}"></script>
<script src="{{ asset("/tmp/js/frontend.js/easyResponsiveTabs.js") }}"></script>
<script src="{{ asset("/tmp/js/frontend.js/login.js") }}"></script>
<!-- endbuild -->
{% endif %}