{% if app.environment == 'prod' %}
    <!-- prod:frontend.css -->
<link rel="stylesheet" type="text/css" href="{{ asset("/compiled/css/frontend.css/frontend_6732d70448fb2db0f389478c87fae357.css") }}" media="all">
<!-- endbuild -->
{% else %}
    <!-- dev:frontend.css -->
<link rel="stylesheet" type="text/css" href="{{ asset("/tmp/css/frontend.css/font-awesome.css") }}" media="all">
<link rel="stylesheet" type="text/css" href="{{ asset("/tmp/css/frontend.css/login.css") }}" media="all">
<!-- endbuild -->
{% endif %}