{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                {% block hallo %}{% endblock %}
                <div class="x-content">
                    {% block userLog %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var dt = $('#table-userlog').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('userlog_ajax') }}",
                "searching": false,
                "stateSave": true,
                "pagingType": "full_numbers",
                "order": [],
                "columns": [
                    { "orderable": false },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": false, "sClass": "text-center detil" }
                ]
            });
            
            function showDetail(table, row) {
                var aData = table.fnGetData(row);
                var detail = aData.details;
                var result = '<table class="table table-bordered table-inner-detail">';
                result += '<tr><th style="width: 150px;">Parameter</th><td>' + detail.parameter + '</td></tr>';
                result += '<tr><th>Keterangan</th><td>' + detail.keterangan + '</td></tr>';
                result += '</table>';
                return result;
            }
            
            $('#table-userlog tbody').on('click', 'td.detil a', function() {
                var nTr = $(this).parents('tr')[0];
                var nTds = this;
                if (dt.fnIsOpen(nTr)) {
                    $(nTds).removeClass('fa fa-chevron-up').addClass('fa fa-chevron-down');
                    dt.fnClose(nTr);
                } else {
                    $(nTds).removeClass('fa fa-chevron-down').addClass('fa fa-chevron-up');
                    dt.fnOpen(nTr, showDetail(dt, nTr), 'details');
                }
            });
        })
    </script>
{% endblock %}
