<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ project_name }}{% endblock %}</title>
        {% block stylesheets %}
            {% include 'cssJs/backendCss.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('s.ico') }}" />
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="{{ path('homepage') }}" class="site_title">
                                <i class="fa fa-paw"></i> <span>{{ 'ePerformance' }}</span>
                            </a>
                        </div>
                        {% include 'quickInfo.html.twig' %}
                        {% if app.user.hasRoles('ROLE_SUPERADMIN') %}
                            {% include 'menu/sidebarSuperadmin.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            
                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav class="" role="navigation">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="{{ asset('images/user.png') }}" >
                                        {{ app.user }}
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                        <li><a href="javascript:;">  Profile</a></li>
                                        <li><a href="javascript:;">  Profile</a></li>
                                        <li>
                                            <a href="{{ path('logout_route') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">
                        <div class="clearfix"></div>
                        {% block body %}{% endblock %}
                    </div>

                    <!-- footer content -->
                    <footer>
                        <div class="copyright-info">
                            <p class="pull-right">&copy; 2017-2018 {{ instansi_name }}.</a>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->

                </div>
                <!-- /page content -->
            </div>
        </div>
        {% block javascripts %}
            {% include 'cssJs/backendJs.html.twig' %}
        {% endblock %}
    </body>
</html>
