<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ project_name }}{% endblock %}</title>
        <script type="application/x-javascript">addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0,1); }
        </script>
        {% block styles %}
            {% include 'cssJs/frontendCss.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('s.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {% block javascripts %}
        {% include 'cssJs/frontendJs.html.twig' %}
    {% endblock %}
</html>
