<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ project_name }}{% endblock %}</title>
        {% block styles %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body expr:class='&quot;loading&quot; + data:blog.mobileClass'>
        <div id="wrapper">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
