<div class="clearfix"></div>
<!-- menu prile quick info -->
<div class="profile">
    <div class="profile_pic">
        <img src="{{ asset('images/user.png') }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Hallo,</span>
        <h2>{{ app.user }}</h2>
    </div>
</div>