<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Log Pengguna<small> maks. data satu bulan yang lalu</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form_start(formFilter, {'attr': {'class': 'form-inline bFilter form-filter'}}) }}
                    {{ form_row(formFilter.username) }}
                    {{ form_row(formFilter.parent_id) }}
                    {{ form_row(formFilter.credential_id) }}
                    {{ form_row(formFilter.aksi) }}
                    <div class="form-group" style="margin-top: 5px">
                        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-filter"></i> Filter</button>
                        <a class="btn btn-default" href="{{ path('homepage') }}?_reset"><i class="glyphicon glyphicon-refresh"></i> Reset</a>
                    </div>
            {{ form_end(formFilter) }}
            <table class="table table-bordered table-striped responsive-utilities jambo_table dataTable no-footer" id="table-userlog">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Parent ID</th>
                        <th>Username</th>
                        <th>Action</th>
                        <th>IP Address</th>
                        <th>Credential</th>
                        <th>Tanggal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
