{% extends 'baseLog.html.twig' %}

{% block hallo %}
    <div class="x_title">
        <h2>Dashboard</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x-content">
        <div class="jumbotron">
            <h1>Hallo, {{ app.user }}!</h1>
            <p>Selamat datang di ePerformance {{ instansi_name }}.</p>
        </div>
    </div>
{% endblock %}

{% block userLog %}
    {% if app.user.hasRoles('ROLE_USER') %}
        {% include "EperformanceLogBundle::list.html.twig" %}
    {% endif %}
{% endblock %}
