body {
    color: #73879C;
    background: #2A3F54;
    /*#ECF0F1; #FCFCFC*/

    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

body {
  overflow-x: hidden;
}