<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>&nbsp;</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-university"></i> Unit Kerja <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="{{ path('unitmaster_index') }}">Master Unit Kerja</a></li>
                    <li><a href="#">Visi & Misi Unit Kerja</a></li>
                    <li><a href="#">Tugas Pokok & Fungsi Unit Kerja</a></li>
                    <li><a href="#">Pengendali Unit Kerja</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-male"></i> Pegawai <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Master Pangkat</a></li>
                    <li><a href="#">Master Jabatan</a></li>
                    <li><a href="#">Master Status</a></li>
                    <li><a href="#">Master Pegawai</a></li>
                    <li><a href="#">Pegawai</a></li>
                    <li><a href="#">Aktivitas Pegawai</a></li>
                    <li><a href="#">Pengendali Pegawai</a></li>
                    <li><a href="#">Pegawai Bulanan</a></li>
                    <li><a href="#">Pegawai Triwulan</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-user"></i> Pengguna <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Master Pengguna</a></li>
                    <li><a href="#">Unit Pengguna</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-list-alt"></i> Aktivitas <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Usulan Aktivitas</a></li>
                    <li><a href="#">Master Aktivitas</a></li>
                    <li><a href="#">Aktivitas per Jabatan</a></li>
                    <li><a href="#">Aktivitas Pegawai Lapangan</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-th-list"></i> Kegiatan <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Kegiatan DPA</a></li>
                    <li><a href="#">Kegiatan Umum</a></li>
                    <li><a href="#">Penugasan Kegiatan DPA</a></li>
                    <li><a href="#">Penugasan Kegiatan Umum</a></li>
                    <li><a href="#">Pemetaan Kegiatan</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-table"></i> Indikator Kinerja <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Indikator Kinerja Pegawai</a></li>
                    <li><a href="#">Monitor Indikator Kinerja</a></li>
                    <li><a href="#">Rekap Indikator Kinerja</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-eye"></i> Tes Perilaku <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Soal</a></li>
                    <li><a href="#">Pengacakan</a></li>
                    <li><a href="#">Token</a></li>
                    <li><a href="#">Monitor Pelaksanaan</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-newspaper-o"></i> Rekap & Rapor <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Rekap Aktivitas Pegawai</a></li>
                    <li><a href="#">Rapor Pegawai</a></li>
                    <li><a href="#">Rapor Ikhtisar</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-chain"></i> Sinkronisasi <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Sinkronisasi Pekerjaan</a></li>
                    <li><a href="#">Sinkronisasi Realisasi Pekerjaan</a></li>
                    <li><a href="#">Sinkronisasi e-Monev</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-plug"></i> Generator <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Antrian Proses Penilaian</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-sun-o"></i> Aplikasi <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#"></a></li>
                    <li><a href="#">Informasi</a></li>
                    <li><a href="#">Log Pengguna</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>