{% extends 'baseFrontend.html.twig' %}

{% block body %}
    <div class="main"> 
        <h1 style="font-size: 70px">Pemerintah Kota Surabaya</h1>
        <div class="login-form"> 
            <div class="sap_tabs w3ls-tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list"> 
                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Masuk</span></li>
                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab">/&nbsp;&nbsp;<span>Sekilas</span></li>
                    </ul>
                    <div class="clear"> </div>
                    <div class="resp-tabs-container">
                        <div class="resp-tab-content" aria-labelledby="tab_item-0">
                            <h2>ePerformance</h2> 
                            {% if error %}
                                <div role="alert" style="color: red">
                                    {{ error.messageKey|trans(error.messageData, 'security')|replace({"Invalid credentials." : "Invalid username or password."}) }}
                                </div>
                            {% endif %}
                            <form action="{{ path('login_check') }}" method="post">
                                <div class="agileits-top">
                                    <div class="styled-input">
                                        <input type="text" id="_username" name="_username" class="form-control" required="" />
                                        <label>Pengguna</label>
                                        <span></span>
                                    </div>
                                    <div class="styled-input">
                                        <input type="password" name="_password" class="form-control" required="" />
                                        <label>Sandi</label>
                                        <span></span>
                                    </div> 
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </div>
                                <div class="agileits-bottom">
                                    <input type="submit" value="Masuk">
                                </div>	
                            </form>
                        </div>
                        <div class="resp-tab-content" aria-labelledby="tab_item-1">
                            <p style="text-indent: 50px; text-align: justify; padding: 10px">
                                ePerformance adalah sistem informasi manajemen kinerja dalam rangka penilaian prestasi kinerja pegawai yang lebih objektif, terukur, akuntabel, partisipasif dan transparan, sehingga terwujud manajemen pegawai berdasarkan prestasi kerja dan sistem karier kerja Pegawai Negeri Sipil (PNS) di lingkungan Pemerintah Kota Surabaya. Aplikasi ePerformance ini dirancang sesuai dengan Peraturan Walikota No. 21 Tahun 2015 tentang Petunjuk Teknis Pemberian Uang Kinerja pada Belanja Langsung kepada PNSD di Lingkungan Pemerintah Kota Surabaya. Diharapkan dengan adanya sistem informasi dalam hal Manajemen Sumber Daya Manusia (SDM) akan dapat memotivasi kinerja PNS Pemerintah Kota Surabaya dalam meningkatkan kinerja individu dan organisasi, serta mendukung terlaksananya program kerja yang telah direncanakan dan disusun secara optimal. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright">
        <p> © 2017-2018 Bagian Bina Program - Pemerintah Kota Surabaya . All rights reserved
    </div>
    <!-- //copyright -->
{% endblock %}